<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto p-6 sm:p-10">
      <div class="border-2 text-center border-dashed border-blue-500 rounded-2xl p-6 bg-blue-50">
        <h1 class="text-2xl font-semibold text-blue-700 mb-4">Realize sua compra</h1>
        
        <div class="overflow-x-auto bg-white shadow-md rounded-lg">
          <table class="table-auto w-full text-left border-collapse">
            <thead class="bg-blue-500 text-white">
              <tr>
                <th class="px-4 py-2">Nome</th>
                <th class="px-4 py-2">Descrição</th>
                <th class="px-4 py-2">Preço (R$)</th>
                <th class="px-4 py-2">Quantidade</th>
                <th class="px-4 py-2">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of produtos" class="border-b">
                <td class="px-4 py-2">{{ product.name }}</td>
                <td class="px-4 py-2">{{ product.description }}</td>
                <td class="px-4 py-2">{{ product.price | currency: 'BRL' }}</td>
                <td class="px-4 py-2">{{ product.quantity }}</td>
                <td class="px-4 py-2 text-center">
                  <button 
                    (click)="openModal(product)" 
                    class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600">
                    Adicionar ao Carrinho
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  