<div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
    <div class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-12">
                <img src="assets/images/logo/logo.svg" alt="Logo">
            </div>

            <!-- Título -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Cadastro</div>
            <div class="flex items-baseline mt-0.5 font-medium">
                <div>Já tem uma conta?</div>
                <a
                    class="ml-1 text-primary-500 hover:underline"
                    [routerLink]="['/sign-in']">Entrar
                </a>
            </div>

            <!-- Alerta -->
            <fuse-alert
                class="mt-8"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

            <!-- Formulário de Cadastro -->
            <form
    class="mt-8"
    [formGroup]="signUpForm"
    #signUpNgForm="ngForm">

    <!-- Nome Completo -->
    <mat-form-field class="w-full">
        <mat-label>Nome completo</mat-label>
        <input
            id="name"
            matInput
            [formControlName]="'name'">
        <mat-error *ngIf="signUpForm.get('name').hasError('required')">
            O nome é obrigatório
        </mat-error>
    </mat-form-field>

    <!-- Email -->
    <mat-form-field class="w-full">
        <mat-label>E-mail</mat-label>
        <input
            id="email"
            matInput
            [formControlName]="'email'">
        <mat-error *ngIf="signUpForm.get('email').hasError('required')">
            O e-mail é obrigatório
        </mat-error>
        <mat-error *ngIf="signUpForm.get('email').hasError('email')">
            Insira um e-mail válido
        </mat-error>
    </mat-form-field>

    <!-- Senha -->
    <mat-form-field class="w-full">
        <mat-label>Senha</mat-label>
        <input
            id="password"
            matInput
            type="password"
            [formControlName]="'password'"
            #passwordField>
        <button
            mat-icon-button
            type="button"
            (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
            matSuffix>
            <mat-icon
                class="icon-size-5"
                *ngIf="passwordField.type === 'password'"
                [svgIcon]="'heroicons_solid:eye'"></mat-icon>
            <mat-icon
                class="icon-size-5"
                *ngIf="passwordField.type === 'text'"
                [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
        </button>
        <mat-error>
            A senha é obrigatória
        </mat-error>
    </mat-form-field>

    <!-- Telefone -->
    <mat-form-field class="w-full">
        <mat-label>Telefone</mat-label>
        <input
            id="phoneNumber"
            matInput
            type="tel"
            [formControlName]="'phoneNumber'">
        <mat-error *ngIf="signUpForm.get('phoneNumber').hasError('required')">
            O telefone é obrigatório
        </mat-error>
    </mat-form-field>

    <!-- Vendedor -->
    <mat-checkbox
        class="mt-4"
        [color]="'primary'"
        [formControlName]="'isSeller'">
        Sou vendedor
    </mat-checkbox>

    <!-- CEP -->
    <mat-form-field class="w-full">
        <mat-label>CEP</mat-label>
        <input
            id="postalCodeAddress"
            matInput
            [formControlName]="'postalCodeAddress'">
        <mat-error *ngIf="signUpForm.get('postalCodeAddress').hasError('required')">
            O CEP é obrigatório
        </mat-error>
    </mat-form-field>

    <!-- Número do endereço -->
    <mat-form-field class="w-full">
        <mat-label>Número do endereço</mat-label>
        <input
            id="numberAddress"
            matInput
            [formControlName]="'numberAddress'">
        <mat-error *ngIf="signUpForm.get('numberAddress').hasError('required')">
            O número do endereço é obrigatório
        </mat-error>
    </mat-form-field>

    <!-- Rua -->
    <mat-form-field class="w-full">
        <mat-label>Rua</mat-label>
        <input
            id="street"
            matInput
            [formControlName]="'street'">
        <mat-error *ngIf="signUpForm.get('street').hasError('required')">
            A rua é obrigatória
        </mat-error>
    </mat-form-field>

    <!-- Cidade -->
    <mat-form-field class="w-full">
        <mat-label>Cidade</mat-label>
        <input
            id="city"
            matInput
            [formControlName]="'city'">
        <mat-error *ngIf="signUpForm.get('city').hasError('required')">
            A cidade é obrigatória
        </mat-error>
    </mat-form-field>

    <!-- Botão de Enviar -->
    <button
        class="fuse-mat-button-large w-full mt-6"
        mat-flat-button
        [color]="'primary'"
        [disabled]="signUpForm.disabled"
        (click)="signUp()">
        <span *ngIf="!signUpForm.disabled">
            Criar conta grátis
        </span>
        <mat-progress-spinner
            *ngIf="signUpForm.disabled"
            [diameter]="24"
            [mode]="'indeterminate'"></mat-progress-spinner>
    </button>
</form>

        </div>
    </div>
    <div class="relative hidden md:flex flex-auto items-center justify-center w-1/2 h-full p-16 lg:px-28 overflow-hidden bg-gray-800 dark:border-l">
        <!-- Conteúdo -->
        <div class="z-10 relative w-full max-w-2xl">
            <div class="text-7xl font-bold leading-none text-gray-100">
                <div>Bem-vindo à</div>
                <div>nossa comunidade</div>
            </div>
            <div class="mt-6 text-lg tracking-tight leading-6 text-gray-400">
                Fuse ajuda desenvolvedores a criar dashboards organizados e bem codificados,
                cheios de módulos ricos e bonitos. Junte-se a nós e comece a construir sua aplicação hoje.
            </div>
            <div class="flex items-center mt-8">
                <div class="flex flex-0 items-center -space-x-1.5">
                    <img
                        class="flex-0 w-10 h-10 rounded-full ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800 object-cover"
                        src="assets/images/avatars/female-18.jpg" alt="Usuário">
                    <img
                        class="flex-0 w-10 h-10 rounded-full ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800 object-cover"
                        src="assets/images/avatars/female-11.jpg" alt="Usuário">
                    <img
                        class="flex-0 w-10 h-10 rounded-full ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800 object-cover"
                        src="assets/images/avatars/male-09.jpg" alt="Usuário">
                    <img
                        class="flex-0 w-10 h-10 rounded-full ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800 object-cover"
                        src="assets/images/avatars/male-16.jpg" alt="Usuário">
                </div>
                <div class="ml-4 font-medium tracking-tight text-gray-400">Mais de 17k pessoas já se juntaram a nós. Agora é a sua vez.</div>
            </div>
        </div>
    </div>
</div>
