<div class="flex flex-col flex-auto min-w-0"> <!-- Ajuste para a altura da tela -->
  <mat-form-field appearance="outline" class="mb-4 w-full">
    <mat-label>Filtrar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar pedidos" class="w-full">
  </mat-form-field>

  <div class="overflow-x-auto h-full"> <!-- Ajuste para a altura ocupar o restante da tela -->
    <table mat-table [dataSource]="dataSource" class="mat-table w-full table-auto h-full"> <!-- Tabela com altura total -->
      
      <!-- Delivery Option Column -->
      <ng-container matColumnDef="deliveryOption">
        <th mat-header-cell *matHeaderCellDef class="px-4 py-2 text-left"> Opção de Entrega </th>
        <td mat-cell *matCellDef="let pedido" class="px-4 py-2"> {{ pedido.deliveryOption }} </td>
      </ng-container>

      <!-- Quantity Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef class="px-4 py-2 text-left"> Quantidade </th>
        <td mat-cell *matCellDef="let pedido" class="px-4 py-2"> {{ pedido.productQuantity }} </td>
      </ng-container>

      <ng-container matColumnDef="additionalInstructions">
        <th mat-header-cell *matHeaderCellDef class="px-4 py-2 text-left"> Instruções </th>
        <td mat-cell *matCellDef="let pedido" class="px-4 py-2"> {{ pedido.additionalInstructions }}
          </td>
      </ng-container>

      <ng-container  matColumnDef="finish">
        <th mat-header-cell  *matHeaderCellDef class="px-4 py-2 text-left"> Entrega  </th>
        <td mat-cell *matCellDef="let pedido" class="px-4 py-2">  
          <button mat-icon-button *ngIf="!pedido.isCompleted" (click)="confirmPedido(pedido)">
          <mat-icon>check_circle</mat-icon>
        </button> </td>
      </ng-container>

      <!-- Header and Rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'bg-green-500': row.isCompleted}"></tr>
    </table>
  </div>

  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons class="mt-4"></mat-paginator>
</div>
