<div class="flex flex-col flex-auto min-w-0">
  <div class="flex-auto p-6 sm:p-10">
    <!-- Card com borda e fundo -->
    <div class="border-2 text-center border-dashed border-blue-500 rounded-2xl p-6 bg-blue-50">
      <h2 class="text-2xl font-semibold text-blue-700 mb-4">Pedidos do Cliente</h2>
      
      <!-- Verifica se há pedidos -->
      <div *ngIf="orders?.length > 0; else noOrders">
        <div class="overflow-x-auto bg-white shadow-md rounded-lg">
          <table class="table-auto w-full text-left border-collapse">
            <thead class="bg-blue-500 text-white">
              <tr>
                <th class="px-4 py-2">Opção de Entrega</th>
                <th class="px-4 py-2">Quantidade</th>
                <th class="px-4 py-2">Instruções Adicionais</th>
                <th class="px-4 py-2">Status</th>
                <th class="px-4 py-2">Nome do Cliente</th>
                <th class="px-4 py-2">Email do Cliente</th>
                <th class="px-4 py-2"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of orders" class="border-b">
                <td class="px-4 py-2">
                  {{ order.deliveryOption === 'entrega' ? 'Entrega' : 'Retirada' }}
                </td>
                <td class="px-4 py-2">{{ order.productQuantity }}</td>
                <td class="px-4 py-2">
                  {{ order.additionalInstructions || 'Sem instruções adicionais' }}
                </td>
                <td class="px-4 py-2">
                  {{ order.isCompleted ? 'Já foi entregue' : 'Pendente' }}
                </td>
                <td class="px-4 py-2">{{ order.user?.name || 'Desconhecido' }}</td>
                <td class="px-4 py-2">{{ order.user?.email || 'Não informado' }}</td>
                <td class="px-4 py-2 text-center">
                  <!-- Exibe o botão de excluir somente se o pedido não estiver concluído -->
                  <button *ngIf="!order.isCompleted" mat-raised-button color="warn" (click)="deleteOrder(order.id)" class="rounded-full ">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <p *ngIf="order.isCompleted">Finalizado</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    
      <!-- Mensagem quando não há pedidos -->
      <ng-template #noOrders>
        <div class="text-center mt-6">
          <p class="text-lg text-gray-600">Nenhum pedido encontrado.</p>
        </div>
      </ng-template>
    </div>
  </div>
</div>
